<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Admin Dashboard</title>
  </head>
  <body>
    <h1>Admin Dashboard</h1>
    <!-- <form method="post">
      <fieldset>
        <legend>SignIn</legend>
        <table>
          <tr>
            <td>username</td>
            <td><input type="text" name="uname" /></td>
          </tr>
          <tr>
            <td>password</td>
            <td><input type="password" name="password" /></td>
          </tr>
          <tr>
            <td></td>
            <td><input type="submit" name="submit" value="Submit" /></td>
          </tr>
        </table>
      </fieldset>
    </form> -->
    <form method="post">
      <fieldset>
        <legend>Admin Panel</legend>
        <table>
          <tr>
            <td><input type="submit" name="addEmp" value="addEmp" /></td>
            <td><input type="submit" name="allEmp" value="allEmp" /></td>
          </tr>
        </table>
      </fieldset>
    </form>
  </body>
</html>
