<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Employee Dashboard</title>
  </head>
  <body>
    <h1>Employee Dashboard</h1>
    <form method="post">
      <fieldset>
        <legend>Employee Panel</legend>
        <table>
          <tr>
            <td>
              <input type="submit" name="MyProfile" value="MyProfile" />
            </td>
            <td>
              <input type="submit" name="UpdateProfile" value="UpdateProfile" />
            </td>
          </tr>
        </table>
      </fieldset>
    </form>
  </body>
</html>
